# Vansah base URL (data residency): es. https://prod.vansah.com, https://prodau.vansah.com
VANSAH_URL=https://prod.vansah.com

# Jira Project key
VANSAH_PROJECT_KEY=TD

# Vansah Connect token
CONNECT_DEMO_TOKEN=YOUR_TOKEN_HERE

# Folder path in Vansah (MUST contain at least one '/' and must NOT start with '/')
TEST_FOLDER_PATH="Dev Test/"

# Alternative (instead of folder path):
# JIRA_ISSUE_KEY=TD-123
